.resource {
  position: relative;
  padding: .5rem 0;
  &::after,&::before{
    content: '';
    position: absolute;
    display: none;
    z-index: 1;
    height: 12px;
    aspect-ratio: 1/1;
    border: solid black;
    border-width: 0 3px 3px 0;
    top: 8px;
  }
  &:hover {
    background-color: rgb(186, 186, 186);
  }
  &.-zone2 {
    display: flex;
    justify-content: flex-end;
  }
  &.-zone1:hover::after {
    display: block;
    transform: rotate(-45deg);
    right: 10px;
  }
  &.-zone2:hover::before {
    display: block;
    transform: rotate(135deg);
    left: 10px;
  }
}
